In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Import Data
path = "resources/vgsales.csv"
vg_sales_df = pd.read_csv(path)
vg_sales_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
# Drop columns
vg_sales_df.drop(["Year", "Other_Sales", "Global_Sales"], axis=1, inplace=True)
#vg_sales_df.set_index("Rank", inplace=True)
vg_sales_df.head()

,Rank,Name,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales
0,1,Wii Sports,Wii,Sports,Nintendo,41.49,29.02,3.77
1,2,Super Mario Bros.,NES,Platform,Nintendo,29.08,3.58,6.81
2,3,Mario Kart Wii,Wii,Racing,Nintendo,15.85,12.88,3.79
3,4,Wii Sports Resort,Wii,Sports,Nintendo,15.75,11.01,3.28
4,5,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo,11.27,8.89,10.22

In [4]:
# Reduce number of rows
# Heroku database has a row limit of 10,000 rows
# Exploratory analysis of the dataset reveals dropping tail end of data will not skew results
# Due to database constraints, drop the last 6,798 rows to leave 9,800 rows
# Publisher will be dropped since we are not using that information and there are null values
#n = 6798
vg_sales_df = vg_sales_df.sample(n=9800)
#vg_sales_df.drop(vg_sales_df.tail(n).index, inplace=True)
vg_sales_df.count()

Rank         9800
Name         9800
Platform     9800
Genre        9800
Publisher    9774
NA_Sales     9800
EU_Sales     9800
JP_Sales     9800
dtype: int64

In [5]:
# Drop Publisher
vg_sales_df.drop(["Publisher"], axis=1, inplace=True)
vg_sales_df.head()

,Rank,Name,Platform,Genre,NA_Sales,EU_Sales,JP_Sales
6084,6086,Dragon Quest: Shounen Yangus to Fushigi no Dun...,PS2,Role-Playing,0.00,0.00,0.29
6817,6819,Pure Futbol,PS3,Sports,0.06,0.13,0.00
8106,8108,Ridge Racer Unbounded,PS3,Racing,0.05,0.10,0.00
7036,7038,Colony Wars: Vengeance,PS,Simulation,0.13,0.09,0.00
14542,14545,Disney's Aladdin,GBA,Platform,0.02,0.01,0.00

In [6]:
# Get counts of unique values from dataframe
# Returns total of 373 values across Platform, Genre, and Publisher
# Will add an additonal "N/A" value for null values in Publisher
print(vg_sales_df.nunique())

Rank        9800
Name        7549
Platform      29
Genre         12
NA_Sales     338
EU_Sales     246
JP_Sales     194
dtype: int64

### Game Platform

In [7]:
# Check for null values
vg_sales_df["Platform"].isnull().sum()

0

In [8]:
# Get unique Platform values and convert into a list
platforms = vg_sales_df["Platform"].unique().tolist()
print(platforms)

['PS2', 'PS3', 'PS', 'GBA', 'DS', 'PSV', 'PSP', 'X360', '3DS', 'GC', 'Wii', 'SAT', 'PS4', 'PC', 'XB', 'N64', 'SNES', 'XOne', 'GB', '2600', 'WiiU', 'NG', 'GEN', 'NES', 'DC', 'PCFX', '3DO', 'SCD', 'WS']

In [9]:
# Convert platform list to series
platform_series = pd.Series(platforms)
platform_series

0      PS2
1      PS3
2       PS
3      GBA
4       DS
5      PSV
6      PSP
7     X360
8      3DS
9       GC
10     Wii
11     SAT
12     PS4
13      PC
14      XB
15     N64
16    SNES
17    XOne
18      GB
19    2600
20    WiiU
21      NG
22     GEN
23     NES
24      DC
25    PCFX
26     3DO
27     SCD
28      WS
dtype: object

In [10]:
# Convert platform_series into a csv file
platform_series.to_csv('resources/vg_platforms.csv')

### Genre

In [11]:
# Check for null values
vg_sales_df["Genre"].isnull().sum()

0

In [12]:
# Get unique Genre values and convert into a list
genres = vg_sales_df["Genre"].unique().tolist()
print(genres)

['Role-Playing', 'Sports', 'Racing', 'Simulation', 'Platform', 'Adventure', 'Action', 'Misc', 'Shooter', 'Strategy', 'Fighting', 'Puzzle']

In [13]:
# Convert genres list to series
genres_series = pd.Series(genres)
genres_series

0     Role-Playing
1           Sports
2           Racing
3       Simulation
4         Platform
5        Adventure
6           Action
7             Misc
8          Shooter
9         Strategy
10        Fighting
11          Puzzle
dtype: object

In [14]:
# Convert genre_series into a csv file
genres_series.to_csv('resources/vg_genres.csv')

### Games

In [15]:
# Loop thru vg_sales_df & replace Platform Names with Platform ID's
for vg_platform in range(len(vg_sales_df)):
    for series_id, series_name in platform_series.items():
        vg_platform_name = vg_sales_df["Platform"].iloc[vg_platform]
        if vg_platform_name == series_name:
            vg_sales_df["Platform"] = vg_sales_df["Platform"].replace([vg_platform_name], series_id)

#Inspect Dataframe
vg_sales_df.head()

,Rank,Name,Platform,Genre,NA_Sales,EU_Sales,JP_Sales
6084,6086,Dragon Quest: Shounen Yangus to Fushigi no Dun...,0,Role-Playing,0.00,0.00,0.29
6817,6819,Pure Futbol,1,Sports,0.06,0.13,0.00
8106,8108,Ridge Racer Unbounded,1,Racing,0.05,0.10,0.00
7036,7038,Colony Wars: Vengeance,2,Simulation,0.13,0.09,0.00
14542,14545,Disney's Aladdin,3,Platform,0.02,0.01,0.00

In [16]:
# Loop thru vg_sales_df & replace Genre Names with Genre ID's
for vg_genre in range(len(vg_sales_df)):
    for series_id, series_name in genres_series.items():
        df_genre = vg_sales_df["Genre"].iloc[vg_genre]
        if  df_genre == series_name:
            vg_sales_df["Genre"] = vg_sales_df["Genre"].replace([df_genre], series_id)
            
#Inspect Dataframe
vg_sales_df.head()

,Rank,Name,Platform,Genre,NA_Sales,EU_Sales,JP_Sales
6084,6086,Dragon Quest: Shounen Yangus to Fushigi no Dun...,0,0,0.00,0.00,0.29
6817,6819,Pure Futbol,1,1,0.06,0.13,0.00
8106,8108,Ridge Racer Unbounded,1,2,0.05,0.10,0.00
7036,7038,Colony Wars: Vengeance,2,3,0.13,0.09,0.00
14542,14545,Disney's Aladdin,3,4,0.02,0.01,0.00

In [17]:
#Save vg_sales dataframe to csv
vg_sales_df.to_csv('resources/vg_games.csv')